@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-end-rgb));
  background: rgb(var(--foreground-rgb))
}

.radioStyle {
  width: 16px;
  height: 16px;
  background-color: rgb(209, 213, 219);
  border-color: rgb(209, 213, 219);
}

.labelRadio {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(17, 24, 39);
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: rgb(50, 50, 50);
  font-weight: 700;
  font-size: 22px;
  width: 100%;
}

.labelSection {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: rgb(55, 65, 81);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}

.divisorParent {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 12px
}

.divisorQuestions {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
}